<footer class="footer bg-light py-4">
  <div class="container">
    <div class="f-info text-center">
      <!-- Social Media Icons -->
      <div class="f-info-socials mb-3">
        <a href="#" class="text-decoration-none me-3">
          <i class="fa-brands fa-square-facebook fa-2x"></i>
        </a>
        <a href="#" class="text-decoration-none me-3">
          <i
            class="fa-brands fa-square-instagram fa-2x"
            style="color: black"
          ></i>
        </a>
        <a href="#" class="text-decoration-none">
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
      </div>

      <!-- Copyright Information -->
      <div class="f-info-copyright mb-3">
        &copy; 2025 TripPlanner Private Limited
      </div>

      <!-- Privacy and Terms Links -->
      <div class="f-info-links">
        <a href="/" class="text-decoration-none me-3">Privacy</a>
        <a href="/" class="text-decoration-none">Terms</a>
      </div>
    </div>
  </div>
</footer>
